In [13]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv("train_data.csv")

TypeError: read_csv() got an unexpected keyword argument 'index'

In [6]:
train.head()

,id,annotation,tags,text
0,doc_001,Светлана из Казани дает частные уроки английск...,"['Начать бизнес', 'Самозанятые', 'Свое дело', ...",## Кто такой самозанятый?\n\nПо закону самозан...
1,doc_002,"Елене назначили социальное пособие на ребенка,...","['Защитить права', 'Банки', 'Банковская карта'...",Первым делом нужно попросить банк проверить ма...
2,doc_003,Самый надежный способ не оказаться в долгах — ...,"['Кредиты', 'Долги', 'Просрочки', 'Ипотека', '...",## Не переоценивайте свои финансовые возможнос...
3,doc_004,"Друзья Александра то и дело хвастаются, что по...","['Инвестиции', 'Ценные бумаги', 'Фондовая бирж...",Просто прийти на биржу и купить ценные бумаги ...
4,doc_005,Вы взяли в микрофинансовой организации заем на...,"['Займы', 'Долги', 'Риски', 'Защитить права']","## МФО больше нет в госреестре. Значит, она за..."

In [7]:
train.shape

(350, 4)

In [25]:
validate = pd.read_csv("questions.csv")

In [26]:
validate

     ID вопроса                                             Вопрос
0             1  Как просрочка по «беспроцентному» займу скажет...
1             2  Как действовать вкладчику при отзыве лицензии,...
2             3  Как действовать при оспаривании незаконной про...
3             4  Как изменился лимит социального вычета на спор...
4             5  Чем отличаются сроки обращения за наследством ...
..          ...                                                ...
495         496  В каких случаях банк обязан вернуть клиенту де...
496         497  В каких случаях банк вправе приостанавливать о...
497         498  Чем защита денег на банковских счетах отличает...
498         499  Что проверяют банки по бизнес-плану по сравнен...
499         500  Чем отличается банковское финансирование с гос...

[500 rows x 2 columns]

### evaluate

In [10]:
eval_df = pd.read_csv("evaluation_metrics.csv")

In [17]:
eval_df

     question_id  answer_length  has_structure  top_doc_similarity
0              1            171           True            0.582303
1              2            311           True            0.468751
2              3            267           True            0.562083
3              4             87          False            0.506339
4              5            109           True            0.573864
..           ...            ...            ...                 ...
495          496            268           True            0.635497
496          497            194           True            0.648910
497          498            308           True            0.479187
498          499            274           True            0.505729
499          500             55          False            0.432079

[500 rows x 4 columns]

In [15]:
# eval_df = eval_df.reset_index(True)
eval_df['question_id'] = np.arange(1, len(eval_df) + 1)

In [3]:
eval_df.columns

Index(['question_id', 'answer_length', 'has_structure', 'top_doc_similarity'], dtype='object')

In [5]:
eval_df['has_structure'].where(eval_df['has_structure'] == True).count() / eval_df.shape[0]

np.float64(0.95)

In [6]:
eval_df["top_doc_similarity"].describe()

count    500.000000
mean       0.543280
std        0.067732
min        0.279383
25%        0.502297
50%        0.548721
75%        0.592144
max        0.713141
Name: top_doc_similarity, dtype: float64

In [24]:
eval_df.sort_values("top_doc_similarity")[['question_id', 'top_doc_similarity']].head(25).to_csv("bad_25.csv", index=False)